@font-face {
  font-family: "Gilroy ExtraBold";
  src:
  url("../fonts/Gilroy ExtraBold/gilroyextrabold.woff") format("woff"),
  url("../fonts/Gilroy ExtraBold/gilroyextrabold.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Gilroy Light";
  src:
  url("../fonts/Gilroy Light/gilroylight.woff") format("woff"),
  url("../fonts/Gilroy Light/gilroylight.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Open Sans";
  src:
  url("../fonts/Open Sans/opensans.woff") format("woff"),
  url("../fonts/Open Sans/opensans.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Open Sans Light";
  src:
  url("../fonts/Open Sans Light/opensanslight.woff") format("woff"),
  url("../fonts/Open Sans Light/opensanslight.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
}

body{
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "Open Sans Light", "Arial", sans-serif;
  font-size: 15px;
  line-height: 30px;
  color: #444444;
  background-color: #fff;
}

.container{
  padding: 0 20px;
  width: 1160px;
  margin: 0 auto;
}

img{
  max-width: 100%;
  height: auto;
}

a{
  font-family: "Open Sans Light", "Arial", sans-serif;
  font-size: 15px;
  line-height: 36px;
  color: #000;
  text-decoration: none;
  transition: all .25s ease;
}

a:hover{
  opacity: .6;
}

a:active{
  opacity: .3;
}

.btn,
button.btn{
  position: relative;
  display: inline-block;
  padding: 10px 40px;
  vertical-align: top;
  font-family: "Gilroy ExtraBold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 18px;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 3.5px;
  transition: all .25s ease;
}

.btn::before,
button.btn::before{
  content: "";
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 0;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
  height: 8px;
  background-color: #ffc600;
  transition: all .25s ease;
}

.btn:hover::before,
.btn:active::before,
button.btn:hover::before,
button.btn:active::before{
  height: 100%;
}

.btn:active,
button.btn:active{
  color: rgba(0, 0, 0, .3);
}

/*================================================== Стили шапки сайта ==================================================*/
.main-header{
  margin-top: 40px;
}

.main-header-top{
  position: relative;
  background-color: #ffe27f;
  padding: 39px 60px;
}

.inner-page .main-header-top{
  padding: 39px 60px 46px;
}

.main-logo{
  position: absolute;
  top: -24px;
  left: 58px;
  margin: 0;
  padding: 0;
  font-family: "Gilroy ExtraBold", "Arial", sans-serif;
  font-size: 48px;
  line-height: 48px;
  color: #000;
  text-transform: uppercase;
  transition: all .25s ease;
  cursor: pointer;
}

.main-logo:hover{
  color: #444444;
}

.main-logo:active{
  color: #666666;
}

.main-logo a{
  font: inherit;
  text-transform: inherit;
  color: inherit;
  opacity: 1;
}

.main-logo a:hover{
  color: #444444;
}

.main-logo a:active{
  color: #666666;
}

/*================================================== Верхнее меню ==================================================*/
.header-top-menu{
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 29px;
  padding: 0;
  list-style: none;
}

.top-menu-search{
  width: 440px;
  margin-right: 98px;
}

.top-menu-search .search-form{
  position: relative;
}

.search-form .search{
  position: relative;
  margin-left: 29px;
  padding: 12px 15px 12px 10px;
  background-color: transparent;
  border: none;
  cursor: text;
  outline: none;
}

.search-form label{
  position: absolute;
  top: 5px;
  left: 38px;
  color: rgba(0, 0, 0, .3);
  cursor: text;
  transition: all .25s ease;
  cursor: text;
}

.search-form .search:hover ~ label{
  color: rgba(0, 0, 0, .6);
}

.search-form .search:focus ~ label,
.search-form .search:valid ~ label{
  color: rgba(0, 0, 0, 0);
}

.search-form label::before{
  content: "";
  position: absolute;
  top: 50%;
  left: -35px;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background: url("../img/ico-sprite.png") no-repeat;
  width: 16px;
  height: 16px;
  background-position: -10px -555px;
  opacity: 1;
  cursor: default;
}

.search-form label::after{
  content: "";
  position: absolute;
  bottom: -6px;
  left: -10px;
  height: 2px;
  width: 0;
  background-color: #000;
  transition: all .25s ease;
}

.search-form .search:focus ~ label::after{
  width: 218px;
}

.search-form .search-btn{
  visibility: hidden;
  display: inline-block;
  vertical-align: top;
  margin-left: -4px;
  padding: 10px 20px;
  background: none;
  border: 2px solid #000;
  opacity: 0;
  cursor: pointer;
  transition: all .25s ease;
}

.search-form .search-btn:hover{
  background-color: #000;
  color: #fff;
}

.search-form .search-btn:active{
  background-color: #000;
  color: rgba(255, 255, 255, .3);
}

.search-form .search:focus ~ .search-btn{
  visibility: visible;
  opacity: 1;
}

.top-menu-userblock{
  margin-right: 218px;
}

.userblock-logged{
  margin-right: 65px;
}

.top-menu-userblock a{
  position: relative;
  padding-left: 29px;
  display: block;
}

.userblock-logged a{
  position: relative;
  padding-left: 29px;
  display: inline-block;
  vertical-align: top;
}

.userblock-logged a:nth-child(2){
  padding-left: 18px;
}

.top-menu-userblock a::before,
.top-menu-compare a::before,
.top-menu-cart a::before,
.userblock-logged a:first-child::before{
  content: "";
  position: absolute;
  background: url("../img/ico-sprite.png") no-repeat;
  transition: all .25s ease;
}

.top-menu-userblock a::before,
.userblock-logged a:first-child::before{
  top: 13px;
  left: 2px;
  width: 13px;
  height: 12px;
  background-position: -10px -649px;
}

.top-menu-compare{
  position: relative;
  margin-right: 42px;
}

.top-menu-compare a{
  padding-left: 20px;
}

.top-menu-compare a::before{
  top: 14px;
  left: 0px;
  width: 10px;
  height: 10px;
  background-position: -10px -133px;
  transition: all .25s ease;
}

.top-menu-cart{
  position: relative;
}

.top-menu-cart a{
  padding-left: 22px;
}

.top-menu-cart a::before{
  top: 13px;
  left: 0px;
  width: 12px;
  height: 12px;
  background-position: -10px -10px;
  transition: all .25s ease;
}

/*================================================== Главное меню ==================================================*/
.main-navigation .main-menu{
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-menu > li > a{
  font-family: "Gilroy ExtraBold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 18px;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 3.5px;
}

.main-menu-catalog{
  position: relative;
  margin-right: 281px;
}

.main-menu-catalog a{
  padding-right: 30px;
}

.main-menu-catalog a:hover + .catalog-menu{
  visibility: visible;
  height: 166px;
  opacity: 1;
}

.main-menu-catalog > a::before,
.main-menu-catalog > a::after{
  content: "";
  position: absolute;
  right: 12px;
  top: 14px;
  width: 16px;
  height: 2px;
  background-color: #bda762;
}

.main-menu-catalog > a::before{
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}


.catalog-menu{
  position: absolute;
  visibility: hidden;
  top: 25px;
  left: -60px;
  z-index: 10;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 5px 60px;
  list-style: none;
  width: 1160px;
  height: 0;
  background-color: #ffe393;
  opacity: 0;
  border-top: 27px solid #ffe27f;
  box-sizing: border-box;
  overflow: hidden;
  transition: all .25s ease;
}

.catalog-menu:hover{
  visibility: visible;
  height: 166px;
  opacity: 1;
}

.catalog-menu .catalog-submenu{
  margin: 0;
  margin-right: 50px;
  padding: 0;
  list-style: none;
}

.catalog-submenu a{
  padding: 0;
}

.main-menu-delivery{
  margin-right: 36px;
}

.main-menu-contacts{
  margin-left: 109px;
}

/*================================================== Слайдер в шапке ==================================================*/
.header-slider{
  position: relative;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -ms-flexbox;
  display: flex;
  height: 550px;
  margin-bottom: 42px;
  padding-top: 10px;
  overflow: hidden;
}

.header-slider input[type=radio]{
  display: none;
}

.header-slider::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 122px;
  background-color: #ffe27f;
}

.header-slider .slider-controls{
  position: absolute;
  z-index: 20;
  bottom: 37%;
  right: 65px;
  width: 260px;
  height: 10px;
  text-align: right;
  cursor: default;
}

.slider-controls label{
  display: inline-block;
  vertical-align: top;
  width: 4px;
  height: 4px;
  margin-right: 19px;
  background-color: #fff;
  opacity: .3;
  border: 3px solid #000;
  border-radius: 50%;
  cursor: pointer;
  transition: all .25s ease;
}

.slider-controls label:hover{
  opacity: .4;
}

.header-slider .slide{
  position: relative;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  transition: all .5s ease;
}

.header-slider .slide::before{
  content: "";
  position: absolute;
  top: 37px;
  right: 40%;
  width: 100px;
  height: 7px;
  background-color: #fff;
}

#slide1:checked ~ .slider-controls label[for=slide1],
#slide2:checked ~ .slider-controls label[for=slide2],
#slide3:checked ~ .slider-controls label[for=slide3]{
  opacity: 1;
}

#slide1:checked ~ .slide{
  -ms-transform: translateX(0);
  transform: translateX(0);
}

#slide2:checked ~ .slide{
  -ms-transform: translateX(-1160px);
  transform: translateX(-1160px);
}

#slide3:checked ~ .slide{
  -ms-transform: translateX(-2320px);
  transform: translateX(-2320px);
}

.slide .slide-left{
  width: 560px;
  margin-right: 20px;
}

.slide-left .slide-image{
  max-width: 526px;
  max-height: 486px;
  margin: 0 auto;
}

.slide1 .slide-image{
  width: 384px;
  height: 486px;
}

.slide2 .slide-image{
  width: 345px;
  height: 485px;
}

.slide3 .slide-image{
  width: 526px;
  height: 334px;
}

.slide-right{
  width: 580px;
}

.slide-right .slide-number{
  position: absolute;
  top: -13px;
  right: 48px;
  font-family: "Gilroy ExtraBold", "Arial", sans-serif;
  font-size: 180px;
  line-height: 180px;
  color: #fff;
}

.slide-right .slide-title{
  position: relative;
  z-index: 10;
  margin: 0;
  margin-top: 78px;
  margin-left: 20px;
  margin-bottom: 18px;
  padding: 0; 
  max-width: 500px;
  font-family: "Gilroy ExtraBold", "Arial", sans-serif;
  font-size: 47px;
  line-height: 57px;
  color: #000;
}

.slide-right .slide-description{
  width: 480px;
  margin: 0;
  margin-left: 20px;
  margin-bottom: 44px;
  padding: 0;
}

.slide-right .slide-btn{
  margin-left: 22px;
  opacity: 1;
}

.slide-right .slide-btn:hover{
  color: #000;
}

.slide-right .slide-btn:active{
  color: rgba(0, 0, 0, .3);
}

.slide-right .slide-characteristics{
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 460px;
  margin: 0;
  margin-top: 55px;
  margin-left: 20px;
  padding: 0;
  list-style: none;
}

.slide-characteristics li{
  margin-right: 80px;
}

.slide-characteristics li:nth-child(3n){
  margin-right: 0;
}

.slide-characteristics span{
  display: block;
  margin-bottom: 9px;
  font-family: "Gilroy Light", "Arial", sans-serif;
  font-size: 36px;
  line-height: 42px;
  color: #000;
}

.slide-characteristics p{
  margin: 0;
  padding: 0;
  font-family: "Open Sans Light", "Arial", sans-serif;
  font-size: 13px;
  line-height: 20px;
  color: #444444;
}

/*================================================== Блок категорий товаров ==================================================*/
.categories{
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 125px;
  padding: 0;
  list-style: none;
}

.categories .category-item{
  width: 160px;
  margin-bottom: 40px;
}

.category-item .category-image{
  position: relative;
  width: 160px;
  height: 160px;
  background-color: #ffe27f;
  text-align: center;
  vertical-align: middle;
  transition: all .3s ease;
}

.category-item .category-image:hover{
  background-color: #ffc600;
}

.category-item:active .category-image{
  background-color: #ffc600;
}

.category-image img{
  position: absolute;
  max-width: 160px;
  max-height: 160px;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transition: all .3s ease;
}

.category-item:active img,
.category-item:active .category-description{
  opacity: .3;
}

.category-item:nth-child(2) .category-image img{
  top: 63%;
}

.category-item .category-description{
  margin: 0;
  margin-top: 33px;
  padding: 0;
  font-family: "Gilroy ExtraBold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 22px;
  color: #000;
  text-align: center;
  transition: all .3s ease;
}

/*================================================== Блок сервисов ==================================================*/
.services{
  position: relative;
}

.services::before{
  content: "";
  position: absolute;
  z-index: -2;
  left: 0;
  top: 20px;
  width: 100%;
  height: 288px;
  background-color: #e6e6e6;
}

.services input{
  display: none;
}

.services .services-tabs{
  position: relative;
  width: 280px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.services-tabs::after{
  content: "";
  position: absolute;
  right: -4px;
  top: -80px;
  height: 319px;
  width: 7px;
  background-color: #000;
}

.services-tabs li{
  margin-bottom: 24px;
}

.service-tab label{
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 160px;
  padding: 11px 6px;
  font-family: "Gilroy ExtraBold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 18px;
  color: #000;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3.5px;
  transition: all .25s ease;
  cursor: pointer;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;   
}

.service-tab label::before{
  content: "";
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 0;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
  height: 8px;
  background-color: #ffc600;
  transition: all .25s ease;
}

.service-tab label:hover::before{
  content: "";
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 0;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
  height: 40px;
}

#delivery:checked ~ label[for=delivery],
#guarantee:checked ~ label[for=guarantee],
#credit:checked ~ label[for=credit]{
  color: #ffc600;
}

#delivery:checked ~ label[for=delivery]::before,
#guarantee:checked ~ label[for=guarantee]::before,
#credit:checked ~ label[for=credit]::before{
  height: 40px;
  width: 280px;
  background-color: #000;
}

.service-tab .tab-content-delivery,
.service-tab .tab-content-guarantee,
.service-tab .tab-content-credit{
  position: absolute;
  top: -40px;
  left: 401px;
  visibility: hidden;
  opacity: 0;
  width: 760px;
  padding: 30px 0;  
  background-position: 60% 65%;
  transition: all .25s ease;
}

#delivery:checked ~ .tab-content-delivery{
  visibility: visible;
  opacity: 1;
  background: url("../img/delivery.png") 89% 65% no-repeat;
}

#guarantee:checked ~ .tab-content-guarantee{
  visibility: visible;
  opacity: 1;
  background: url("../img/warranty.png") 89% 65% no-repeat;
}

#credit:checked ~ .tab-content-credit{
  visibility: visible;
  opacity: 1;
  background: url("../img/credit.png") 89% 65% no-repeat;
}

.service-tab .tab-content-title{
  margin: 0;
  margin-bottom: 28px;
  padding: 0;
  font-family: "Gilroy ExtraBold", "Arial", sans-serif;
  font-size: 47px;
  line-height: 55px;
  color: #000;
}

.service-tab .tab-content-description{
  width: 440px;
  margin: 0;
  padding: 0;
}

/*================================================== Блок партнеров ==================================================*/
.partners{
  margin-top: 235px;
  margin-bottom: 40px;
}

.partners-list{
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.partner-item a{
  position: relative;
  display: block;
  opacity: 1;
}

.partners .partner-item{
  width: 260px;
  margin-bottom: 40px;
  opacity: .2;
  transition: all .3s ease;
}

.partners .partner-item:hover{
  opacity: 1;
}

.partners .partner-item-hover{
  position: absolute;
  visibility: hidden;
  top: 0;
  left: 0;
  width: 260px;
  height: 100px;
  opacity: 0;
  transition: all .25s ease;
}

.partners .partner-item:hover .partner-item-hover{
  visibility: visible;
  opacity: 1;
}

/*================================================== Блок о компании ==================================================*/
.company{
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 83px;
}

.company .company-contacts,
.company .company-about{
  position: relative;
  width: 560px;
}

.company .company-contacts::before,
.company .company-about::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 7px;
  background-color: #000;
}


.company-contacts h2,
.company-about h2{
  margin: 0;
  margin-bottom: 39px;
  margin-top: 49px;
  padding: 0;
  font-family: "Gilroy ExtraBold", "Arial", sans-serif;
  font-size: 47px;
  line-height: 55px;
  color: #000;
}

.company-contacts p,
.company-about p{
  width: 472px;
  margin: 0;
  padding: 0;
  margin-bottom: 29px;
}

.company-contacts p{
  width: 504px;
  margin-bottom: 39px;
}

.company-about .trade-companies{
  margin: 0;
  margin-top: 67px;
  margin-bottom: 55px;
  padding: 0;
  list-style: none;
}

.trade-companies li{
  position: relative;
  padding-left: 35px;
  font-family: "Gilroy ExtraBold", "Arial", sans-serif;
  font-size: 16px;
  line-height: 40px;
  color: #000;
}

.trade-companies li::before{
  content: "";
  position: absolute;
  top: 15px;
  left: 0px;
  width: 4px;
  height: 4px;
  background-color: #fff;
  opacity: .3;
  border: 3px solid #000;
  border-radius: 50%;
  cursor: default;
}

.company-about .btn{
  padding: 10px 23px;
  opacity: 1;
}

.company-contacts .btn{
  opacity: 1;
}

.company .company-contacts-map{
  margin-bottom: 58px;
}

.company-contacts-map a:hover{
  opacity: .8;
}

/*================================================== Подвал сайта ==================================================*/
.main-footer{
  padding: 60px 0;
  background-color: #444444;
  color: #fff;
}

.main-footer .footer-top{
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 7px;
}

.footer-top .footer-logo{
  display: block;
  margin: 0;
  padding: 0;
  font-family: "Gilroy ExtraBold", "Arial", sans-serif;
  font-size: 48px;
  line-height: 48px;
  color: #ffe27f;
  text-transform: uppercase;
  transition: all .25s ease;
  cursor: pointer;
}

.footer-logo a{
  font: inherit;
  text-transform: inherit;
  color: inherit;
}

.footer-top .footer-logo:hover{
  color: #ffc600;
}

.footer-top .footer-logo:active{
  color: #ffc600;
  opacity: .3;
}

.footer-top-menu{
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-top-menu li{
  margin-right: 43px;
}

.footer-top-menu li:last-child{
  margin-right: 0;
}

.footer-top-menu a{
  color: rgba(255, 255, 255, .7);
  opacity: 1;
}

.footer-top-menu a:hover{
  color: #fff;
}

.footer-top-menu a:active{
  color: rgba(255, 255, 255, .3)
}

.footer-top-menu .top-menu-userblock a::before{
  background-position: -10px -681px;
  transition: none;
  transition-delay: 0.05s; 
}

.footer-top-menu .top-menu-userblock a:hover::before{
  background-position: -10px -713px;
}

.footer-top-menu .top-menu-compare a::before{
  background-position: -10px -163px;
  transition: none;
  transition-delay: 0.05s; 
}

.footer-top-menu .top-menu-compare a:hover::before{
  background-position: -10px -193px;
}

.footer-top-menu .top-menu-cart a::before{
  background-position: -10px -42px;
  transition: none;
  transition-delay: 0.05s; 
}

.footer-top-menu .top-menu-cart a:hover::before{
  background-position: -10px -74px;
}

.footer-middle{
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 39px;
}

.footer-middle .footer-address{
  width: 235px;
}

.footer-middle .footer-navigation{
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 498px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-navigation li{
  padding: 18px 0;
  margin-right: 40px;
}

.footer-navigation li:nth-child(3n){
  margin-right: 0;
}

.footer-navigation a{
  font-family: "Gilroy ExtraBold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 3.5px;
}

.footer-bottom{
  position: relative;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer-bottom::before{
  content: "";
  position: relative;
  display: block;
  top: 17px;
  left: 0;
  width: 80px;
  height: 7px;
  background-color: #ffe27f;
}

.footer-social{
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -ms-flexbox;
  display: flex;
  min-width: 200px;
  max-width: 360px;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.social-btn{
  display: inline-block;
  vertical-align: top;
  width: 39px;
  height: 38px;
  margin-right: 15px;
  background: url("../img/ico-sprite.png") no-repeat;
  opacity: .3;
}

.social-btn:active{
  opacity: .1;
}

.social-btn.social-facebook{
  background-position: -10px -223px;
}

.social-btn.social-instagram{
  background-position: -10px -389px;
}

.social-btn.social-twitter{
  background-position: -10px -591px;
}

.footer-copyright a{
  position: relative;
  display: block;
  width: 27px;
  height: 34px;
  background: url("../img/ico-sprite.png") no-repeat;
  background-position: -10px -281px;
  transition: all .25s ease;
}

.footer-copyright a::before{
  content: "";
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  width: 27px;
  height: 34px;
  background: url("../img/ico-sprite.png") no-repeat;
  background-position: -10px -335px;
}

.footer-copyright a:hover::before{
  opacity: 1;
}

/*================================================== Стили каталога ==================================================*/
.catalog-heading{
  width: 100%;
  padding: 40px 0;
}

.catalog-heading .catalog-title{
  margin: 0;
  margin-bottom: 17px;
  margin-left: 60px;
  padding: 0;
  font-family: "Gilroy ExtraBold", "Arial", sans-serif;
  font-size: 47px;
  line-height: 47px;
  color: #000;
  letter-spacing: 0.6px;
}

.catalog-heading .breadcrumbs{
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  margin-left: 60px;
  padding: 0;
  list-style: none;
}

.breadcrumbs li{
  position: relative;
  padding: 0 20px;
}

.breadcrumbs li::after{
  content: "";
  position: absolute;
  right: 0;
  top: 15px;
  background: url("../img/ico-sprite.png") no-repeat;
  width: 4px;
  height: 7px;
  background-position: -10px -447px;
}

.breadcrumbs .current::after{
  background: none;
}

.breadcrumbs li:first-child{
  padding-left: 0;
}

.breadcrumbs a,
.breadcrumbs .current{
  display: block;
  font-family: "Open Sans Light", "Arial", sans-serif;
  font-size: 14px;
  line-height: 36px;
  opacity: 1;
  color: rgba(0, 0, 0, .5);
  transition: all .25s ease;
}

.breadcrumbs a:hover,
.breadcrumbs .current:hover{
  color: rgba(0, 0, 0, .7);
}

.breadcrumbs a:active,
.breadcrumbs .current:active{
  color: rgba(0, 0, 0, .1);
}

/*================================================== Блок каталога ==================================================*/

.catalog{
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -ms-flexbox;
  display: flex;
  min-width: 1200px;
  overflow: hidden;
}

.catalog .container{
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
}

/*================================================== Левая часть с формой фильтра ==================================================*/

.catalog .catalog-left{
  position: relative;
  width: 268px;
  padding-left: 60px;
}

.catalog .catalog-right{
  width: 832px;
}

.catalog .catalog-left::before{
  content: "";
  position: absolute;
  z-index: -20;
  right: 0;
  top: 0;
  height: 10000vh;
  width: 100vw;
  background-color: #efefef;
}

.catalog-left .form-name{
  position: relative;
  margin: 0;
  padding: 27px 0;
  font-family: "Gilroy ExtraBold", "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 3.5px;
  background-color: #dbdbdb;
}

.catalog-left .form-name::before{
  content: "";
  position: absolute;
  z-index: -10;
  top: 0;
  right: 0;
  height: 100%;
  width: 10000vw;
  background-color: #dbdbdb;
}

.catalog-left .filter-form{
  position: relative;
  width: 200px;
  padding-top: 69px;
}

.filter-form input{
  display: none;
}

.filter-form fieldset{
  position: relative;
  margin: 0;
  padding: 15px 0;
  border: none;
}

.filter-form .price-filter{
  margin-bottom: 18px;
}

.price-filter .range-filter{
  width: 200px;
  margin-top: 8px;
}

.range-filter .range-controls{
  position: relative;
  height: 14px;
}

.range-controls .scale{
  margin-top: 6px;
  height: 2px;
  background-color: #dcdcdc;
}

.range-controls .bar{
  height: 2px;
  background-color: #72ca00;
}

.range-controls .toggle{
  position: absolute;
  top: -6px;
  left: -2px;
  width: 10px;
  height: 10px;
  background-color: #efefef;
  border: 2px solid #000;
  border-radius: 50%;
  cursor: pointer;
  transition: all .25s ease;
}

.range-controls .max-toggle{
  left: 110px;
}

.range-controls .min-toggle:hover,
.range-controls .max-toggle:hover{
  background-color: #63b000;
  border: 2px solid #fff;
  -webkit-box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .75);
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .75);
}

.price-filter .price-controls{
  font-size: 14px;
  line-height: 22px;
  color: rgba(0, 0, 0, .4);
  white-space: nowrap;
}

.price-controls input{
  display: inline-block;
  vertical-align: top;
  width: 50px;
  padding: 0 2px;
  margin-left: 0px;
  font-family: "Gilroy Light", "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: rgba(0, 0, 0, .4);
  border: none;
  background-color: transparent;
}

.price-controls .min-price{
  margin-right: 14px;
}

.filter-form fieldset::before{
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 2px;
  background-color: #000;
}

.filter-form legend{
  display: block;
  padding: 15px 0;
  font-family: "Gilroy ExtraBold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 18px;
  color: #000;
}

.filter-form .color-filter{
  margin-bottom: 12px;
}

.color-filter .color-filter-list{
  margin: 0;
  margin-top: -5px;
  padding: 0;
  list-style: none;
}

.color-filter-list li,
.bluetooth-filter-list li{
  margin-bottom: 10px;
}

.color-filter-list label,
.bluetooth-filter-list label{
  position: relative;
  padding-left: 38px;
  cursor: pointer;
}

.color-filter-list label::before{
  content: "";
  position: absolute;
  top: -1px;
  left: -2px;
  width: 23px;
  height: 23px;
  background-color: #dcdcdc;
  transition: all .25s ease;
}

.color-filter-list label:hover::before{
  background-color: #cfcfcf;
}

.color-filter-list label:active::before{
  background-color: #c5c5c5;
}

#black:checked ~ label[for=black]::after,
#white:checked ~ label[for=white]::after,
#blue:checked ~ label[for=blue]::after,
#red:checked ~ label[for=red]::after,
#pink:checked ~ label[for=pink]::after{
  content: "";
  position: absolute;
  top: 7px;
  left: 4px;
  background: url("../img/ico-sprite.png") no-repeat;
  width: 12px;
  height: 7px;
  background-position: -10px -106px;
  transition: all .25s ease;
}

.filter-form .bluetooth-filter{
  margin-bottom: 12px;
}

.bluetooth-filter .bluetooth-filter-list{
  margin: 0;
  margin-top: -4px;
  padding: 0;
  list-style: none;
}

.bluetooth-filter-list label::before{
  content: "";
  position: absolute;
  top: -1px;
  left: -2px;
  width: 19px;
  height: 19px;
  border: 2px solid #c7c7c7;
  background-color: transparent;
  border-radius: 50%;
  transition: all .25s ease;
}

.bluetooth-filter-list label:hover::before{
  border-color: #bdbdbd;
}

.bluetooth-filter-list label:active::before{
  border-color: #aeaeae;
}

#bluetooth-yes:checked ~ label[for=bluetooth-yes]::after,
#bluetooth-no:checked ~ label[for=bluetooth-no]::after{
  content: "";
  position: absolute;
  top: 6px;
  left: 5px;
  width: 5px;
  height: 5px;
  border: 2px solid #000;
  border-radius: 50%;
  transition: all .25s ease;
}


.filter-form .btn{
  border: none;
  background-color: transparent;
  cursor: pointer;
}

/*================================================== Блок сортировки ==================================================*/
.sorting{
  position: relative;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0;
  padding-left: 72px;
  background-color: #ebebeb;
}

.sorting::before{
  content: "";
  position: absolute;
  z-index: -10;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-color: #ebebeb;
}

.sorting .sorting-title{
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  margin: 0;
  margin-right: 52px;
  padding: 0;
  font-family: "Gilroy ExtraBold", "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 3.5px;
}

.sorting .sorting-type,
.sorting .sorting-direction{
  position: relative;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sorting .sorting-type{
  margin-right: 178px;
}

.sorting-type li{
  margin-right: 30px;
}

.sorting-type a{
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #000;
  opacity: .4;
}

.sorting-type a:hover{
  opacity: .7;
}

.sorting-type a:active,
.sorting-type a.active{
  opacity: 1;
}

.sorting .sorting-direction{
  width: 60px;
}

.sorting-direction li{
  margin-right: 26px;
}

.sorting-direction li:last-child{
  margin-right: 0;
}

.sorting-direction a{
  position: relative;
  top: 12px;
  left: 1px;
  display: block;
  width: 0;
  height: 0;
  opacity: .2;
  border: 9px solid #000;
  border-top: none;
  border-left-color: transparent;
  border-right-color: transparent;  
}

.sorting-direction a.sorting-down{
  border: 9px solid #000;
  border-bottom: none;
  border-left-color: transparent;
  border-right-color: transparent;
}

.sorting-direction a:hover{
  opacity: .4;
}

.sorting-direction a.active,
.sorting-direction a:active{
  opacity: 1;
}

/*================================================== Блок карточек товаров ==================================================*/
.catalog-items{
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 70px;
  padding-bottom: 74px;
  padding-right: 0;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: justify;
  justify-content: space-between;
  box-sizing: border-box;
}

.catalog-items .catalog-item{
  width: 360px;
  margin-bottom: 53px;
}

.catalog-items .catalog-item:nth-last-of-type(1),
.catalog-items .catalog-item:nth-last-of-type(2){
  width: 360px;
  margin-bottom: 42px;
}

.catalog-item .item-image{
  position: relative;
  width: 360px;
  height: 380px;
  background-color: #efefef;
}

.item-image .new-marker{
  position: absolute;
  top: 26px;
  right: 26px;
  width: 60px;
  height: 61px;
  background: url("../img/new-flag.png") no-repeat;
}

.item-image-hover{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgba(239, 239, 239, .7);
  transition: all .5s ease;
}

.item-image-hover .btn{
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 10px 25px;
  opacity: 1;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.item-image-hover .add-compare{
  position: absolute;
  top: 62%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-family: "Open Sans Light", "Arial", sans-serif;
  font-size: 13px;
  line-height: 36px;
  color: #000;
  opacity: .5;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.item-image-hover .add-compare:hover{
  opacity: 1;
}

.item-image-hover .add-compare:active{
  opacity: .2;
}

.item-image-hover .open-product-page{
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  width: 100%;
  height: 100%;
}

.item-image:hover .item-image-hover{
  opacity: 1;
}

.catalog-item .item-name{
  display: inline-block;
  vertical-align: top;
  width: 270px;
  margin: 0;
  margin-top: 33px; 
  padding: 0;
  letter-spacing: 0.3px;
}

.catalog-item .item-name a{
  display: inline-block;
  vertical-align: top;
  font-family: "Gilroy ExtraBold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 20px;
  color: #000;
}

.catalog-item .item-price{
  display: inline-block;
  vertical-align: top;
  width: 86px;
  margin-top: 35px; 
  text-align: right;
  font-family: "Gilroy Light", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
}

/*================================================== Блок навигации по страницам ==================================================*/
.page-navigation{
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #ebebeb;
}

.page-navigation a{
  display: inline-block;
  vertical-align: middle;
  padding: 26px 0;
  font-family: "Gilroy ExtraBold", "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: #000;
  letter-spacing: 3.5px;
  text-transform: uppercase;
}

.page-navigation .prev-page{
  padding: 26px 32px;
}

.page-navigation .next-page{
  padding: 26px;
}

.page-navigation .prev-page:hover,
.page-navigation .next-page:hover{
  opacity: 1;
  background-color: #d9d9d9;
}

.page-navigation .prev-page:active,
.page-navigation .next-page:active,
.page-navigation li.disabled .prev-page,
.page-navigation li.disabled .next-page{
  opacity: 1;
  background-color: #d9d9d9;
  color: rgba(0, 0, 0, .3);
}

.page-navigation li.disabled .prev-page,
.page-navigation li.disabled .next-page{
  cursor: default;
}



.page-navigation .page-numbers{
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 440px;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.page-numbers li{
  margin-right: 28px;
}

.page-numbers li:last-child{
  margin-right: 0;
}

.page-numbers a{
  display: inline-block;
  vertical-align: middle;
  font-family: "Gilroy ExtraBold", "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: #000;
  letter-spacing: 3.5px;
  text-transform: uppercase;
  opacity: .3;
}

.page-numbers li.current a,
.page-navigation .page-numbers a:active{
  opacity: 1;
}

.page-numbers a:hover{
  opacity: .6;
}

/*================================================== Всплывающее окно карты ==================================================*/

.modal-map{
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 100;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: none;
  width: 960px;
  height: 559px;
  background-color: #eaeaea;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .2);
}

.modal-map img{
  z-index: 5;
  position: absolute;
  top: 0;
  left: 0;
  width: 960px;
  height: 559px;
}

.modal-map iframe{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.close-btn{
  position: absolute;
  top: 22px;
  right: 22px;
  z-index: 20;
  display: inline-block;
  vertical-align: top;
  width: 54px;
  height: 54px;
  background-color: rgba(255, 198, 0, .5);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: all .25s ease;
}

.close-btn:hover{
  background-color: rgba(255, 198, 0, 1);
}

.close-btn:active{
  background-color: rgba(255, 198, 0, 1);
}
.close-btn::before,
.close-btn::after{
  content: "";
  position: absolute;
  top: 26px;
  left: 13px;
  width: 30px;
  height: 2px;
  background-color: #fff;
}

.close-btn::before{
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.close-btn::after{
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.close-btn:active::before,
.close-btn:active::after{
  opacity: .3;
}

/*================================================== Всплывающая форма обратной связи ==================================================*/
.modal-form{
  position: fixed;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: none;
  z-index: 100;
  width: 960px;
  padding: 90px 95px;
  background-color: #fff;
  color: #000;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .2);
  box-sizing: border-box;
}

.modal-form .write-us{
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.modal-form .half-width-input{
  width: 360px;
  margin-bottom: 30px;
}

.modal-form label{
  display: block;
  margin-bottom: 10px;
  font-family: "Gilroy ExtraBold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 18px;
  color: #000;
}

.modal-form input,
.modal-form textarea{
  width: 100%;
  padding: 11px 20px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #000;
  border: 3px solid #f2f2f2;
  background-color: #f2f2f2;
  box-sizing: border-box;
  transition: all .25s ease;
}

.modal-form input:hover,
.modal-form textarea:hover{
  background-color: #eaeaea;
  border-color: #eaeaea;
}

.modal-form input:focus,
.modal-form textarea:focus{
  border-color: #e5e5e5;
  background-color: #fff;
  color: rgba(68, 68, 68, 1);
}

.modal-form .invalid{
  border-color: #ffdada;
  background-color: #ffdada;
  color: rgba(68, 68, 68, 1);
}

.modal-form textarea{
  margin-bottom: 53px;
}

.modal-form .btn{
  position: relative;
  display: inline-block;
  padding: 10px 40px;
  vertical-align: top;
  font-family: "Gilroy ExtraBold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 18px;
  color: #000;
  border: none;
  background-color: transparent;
  text-transform: uppercase;
  letter-spacing: 3.5px;
  transition: all .25s ease;
  cursor: pointer;
}

.modal-form .btn::before{
  content: "";
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 0;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
  height: 8px;
  background-color: #ffc600;
  transition: all .25s ease;
}

.modal-form .btn:hover::before,
.modal-form .btn:active::before{
  height: 100%;
}

.modal-form .btn:active{
  color: rgba(0, 0, 0, .3);
}

.overlay{
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  z-index: 20;
}

@keyframes shake {
  0%, 100% { 
    transform: translate(-50%, -50%); 
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translate(-47%, -50%); 
  }
  20%, 40%, 60%, 80% {
    transform: translate(-53%, -50%); 
  }
} 

@keyframes appearing
{
  0%
  {
    transform: translate(-50%, 100%);
  }
  70%
  {
    transform: translate(-50%, -60%);
  }
  90%
  {
    transform: translate(-50%, -45%);
  }
  100%
  {
    transform: translate(-50%, -50%);
  }
}

.modal-open{
  display: block;
  animation: appearing 0.5s;
}

.overlay-open{
  display: block;
  animation: fade 0.5s;
}

.modal-error {
  animation: shake 0.6s;
}